body {
    margin: 40px auto;
    padding: 0 10px;
    max-width: 900px;
    line-height: 1.5em;
    font-size: 100%;
    color: #444;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
}

h1 {
    margin-top: 0;
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

#last_name {
    font-weight: normal;
}

.history li {
    list-style-type: none;
    margin-bottom: 1em;
}

.history .duration {
    margin-left: -1em;
    display: block;
}

.history .duration::after {
    content: ": ";
}

.contact li {
    list-style-type: none;
}

@media (max-device-width: 500px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
}
